/*
============================ 
Define CSS Variables Upfront 
============================
*/

/* Color theme was bowrrowed from Coolors */
:root {
  /* Yellow tone primary color*/
  --clr-primary-1: #ff7b00;
  --clr-primary-2: #ff8800;
  --clr-primary-3: #ff9500;
  --clr-primary-4: #ffa200;
  --clr-primary-5: #ffaa00;
  --clr-primary-6: #ffb700;
  --clr-primary-7: #ffc300;
  --clr-primary-8: #ffd000;
  --clr-primary-9: #ffea00;
  --clr-primary-10: #fff;

  /* Dark grey combo */
  --clr-black: #222;
  --clr-grey-1: #212529;
  --clr-grey-2: #343a40;
  --clr-grey-3: #495057;
  --clr-grey-4: #6c757d;

  /* Light grey combo */
  --clr-grey-5: #adb5bd;
  --clr-grey-6: #ced4da;
  --clr-grey-7: #d6dde4;
  --clr-grey-8: #dee2e6;
  --clr-grey-9: #e9ecef;
  --clr-grey-10: #f8f9fa;
  --clr-white: #fff;

  /* Formation */
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
============================== 
Global Styles: Pseudo-elements
==============================
*/

/* This ensures that the size of an element remains consistent regardless of padding or border changes. */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: var(--clr-grey-1);
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 0.75rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 0.75rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */
/* container */
.container {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

/* Desktop view */
@media screen and (min-width: 992px) {
  .container {
    width: 95vw;
  }
}

/*
======
Slider
======
*/
.title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 500;
}

.underline {
  width: 27rem;
  height: 0.25rem;
  background: var(--clr-primary-6);
  margin-left: auto;
  margin-right: auto;
}

.container-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 600px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.nasa-img {
  border-radius: 5%;
  margin-bottom: 1rem;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-3);
  box-shadow: var(--dark-shadow);
}

article h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  margin-bottom: 0.25rem;
}

.subTitle {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-5);
}

.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}

.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-4);
}

/*
===========================
Prev and next button set up
===========================
*/

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-30%);
  background: var(--clr-grey-4);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.prev:hover,
.next:hover {
  background: var(--clr-primary-2);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Tablet view */
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }

  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
  }
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}
